
* {
    font-family: 'Work Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}

.first-section,
.second-section,
.third-section,
.fourth-section,
,
.fifth-section,
footer {
    font-family: 'Work Sans', sans-serif;
}

.speacial-color {
    color: #FF42A5;
}

.first-transparent {

    margin: 0px;
    font-size: 75px;
    font-weight: 800;
    background-image: linear-gradient(#F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.common-desc {
    color: gray;
}

/* navigation bar start */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    font-family: Work Sans;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.site-name {
    font-size: 45px;
    font-weight: 700;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    object-fit: cover;
    gap: 17px;
}

.logo-container img {
    width: 60px;
    height: 32px;
}
.right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-nav li {
    list-style: none;
    margin-right: 30px;
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 220px;
    height: 22px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.icon-container p,
.right-nav li {
    font-size: 16px;
}

.nav-icon {
    font-size: 20px;
}

/* navigation bar end */

/* Header:1st section start */

.first-section {
    max-width: 1920px;
    display: flex;
    height: 600px;
    justify-content: center;
}

.first-description {
    width: 50%;
    background-image: url('images/Group 14.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.goat-quote {
    font-size: 38px;
    font-weight: 600;
    margin: 0px;
}

.first-desc-text {
    width: 53%;
    height: 45%;

}

.added-6 {
    /* display: flex;
    gap: 10px;
    line-height: 40px; */
    display: block;
        gap: 50px;
        line-height: 30px;
}

.goat-title {
    margin: 0px;
    font-size: 75px;
    font-weight: 800;
    background-image: linear-gradient(#F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.first-sec-img {
    width: 50%;
}

.first-sec-img img {
    width: 82%;
    margin-left: 65px;
}

.btn {
    padding: 20px 35px;
    border-radius: 30px;
    background-color: #F948B2;
    color: white;
    font-size: 18px;
    font-family: 600px;
    border: none;
}

.btn-two {
    padding: 20px 40px;
    border-radius: 30px;
    background-color: #4EC5F7;
    color: white;
    font-size: 18px;
    font-family: 600;
    border: none;
}

.btn-section {
    display: flex;
    gap: 24px;
    padding-right: 60px;

}

/* second Section*/
.second-section {
    height: 490px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
}

.second-img-sec {
    width: 60%;


}

.second-img-sec img {
    width: 80%;
    margin-left: 180px;
    margin-top: 55px;
    margin-bottom: 55px;

}

.second-desc-sec {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 270px;
    gap: 15px;
    margin-bottom: 130px;

}

.added-3 {
    font-size: 38px;
    font-weight: 750;
}

.added-4 {
    width: 85%;
    text-align: end;
    line-height: 25px;
}

.added-5 {
    color: white;
    font-weight: 500;
    padding: 15px 30px;
}

.purpose {
    font-size: 22px;
    font-weight: 400;
}

.quote {
    font-size: 26px;
    font-weight: 600;
}

/* third Section */
.online-game-title {
    font-size: 48px;
    margin: 0px;
    font-weight: 600;
}

.added-one {
    font-size: 48px;
}

.third-sec-desc {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-one,
.box-two,
.box-three,
.box-four {
    width: 270px;
    height: 390px;
    border-radius: 10px;
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
}

/* .box1,
.box2,
.box3,
.box4 {
    width: 270px;
    height: 330px;
    border-radius: 10px;
} */
.box{
    position: relative;
    width: 100%;
    height: 100%;
}

.box--{
    display: block;
    width: 100%;
    height: 100%;
    
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 98%;
    background: rgba(0, 0, 0, 0.499);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    border-radius: 10px;
    border: 5px solid #F948B2;
    color: #F948B2;
}
.overlay:hover{
    opacity: 1;
}

.play{
    height: 15%;
    width: 18%;
    border-radius: 50%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.content{
    font-size: 2.5em;
    margin-top: 0.25em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}



.photo-gallary {

    display: flex;
    justify-content: center;
    gap: 20px;
}
.added-10{
    margin-top: 20px;
}

/* Fourth Section */

.fourth-sec-text {
    font-size: 38px;
    font-weight: 700;
    margin: 0px;
}

.added-two {
    font-size: 48px;
    font-weight: 600;
    margin: 0px;
}

.added-7 {
    margin-top: 20px;
}

.fourth-section {
    max-height: 750px;
    display: flex;
    padding-top: 150px;

}

.fourth-sec-desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: end;


}

.fourth-sec-img {
    width: 50%;

}

.man {
    width: 80%;
    height: 500px;
    position: relative;
}

.man img {
    width: 80%;
}

.doll img {
    width: 50%;
}

.doll {
    width: 450px;
    height: 490px;
    padding: 2px;
    border-radius: 7px;
    position: absolute;
    right: 27%;
    top: 315%;

}

/* Fifth Section */

.fifth-section {
    padding: 100px;
    margin-top: 200px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.g1,
.g2,
.g3,
.g4,
.g5,
.g6,
.g7,
.g8,
.g9 {
    height: 28px;
    padding: 20px;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #0B0223;
    font-weight: 600;
    font-size: 16px;

}

.g1:hover {
    color: #FF42A5;
    border: 2px solid #FF42A5;
}

.g2:hover {
    color: #FF42A5;
    border: 2px solid #FF42A5;
}

.g3:hover {
    color: #FF42A5;
    border: 2px solid #FF42A5;
}

.g4:hover {
    color: #FF42A5;
    border: 2px solid #FF42A5;
}

.g5:hover {
    color: #FF42A5;
    border: 2px solid #FF42A5;
}

.g6:hover {
    color: #FF42A5;
    border: 2px solid #FF42A5;
}

.g7:hover {
    color: #FF42A5;
    border: 2px solid #FF42A5;
}

.g8:hover {
    color: #FF42A5;
    border: 2px solid #FF42A5;
}

.g9:hover {
    color: #FF42A5;
    border: 2px solid #FF42A5;
}

.g1 img,
.g2 img,
.g3 img,
.g4 img,
.g5 img,
.g6 img,
.g7 img,
.g8 img,
.g9 img {
    width: 50px;
    height: 50px;
}
/* Footer part */

.footer-logo {
    display: flex;
    align-items: center;
    object-fit: cover;
    gap: 17px;
}

.footer-logo img {
    width: 60px;
    height: 30px;
}

.footer-list1 {
    display: flex;
}

.footer-list1 li {
    list-style: none;
    margin-right: 40px;
}

.fa-brands {
    font-size: 30px;
    margin-left: 25px;
}

.footer-list2 {
    display: flex;
}

.footer-list2 li {
    list-style: none;
    margin-right: 40px;
}

footer {
    background-color: #0B0223;
    color: white;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-last-part {
    display: flex;
    flex-direction: column;
    gap: 17px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.added-8{
    text-align: center;
    line-height: 20px;
}

@media screen and (max-width:992px) {

    .right-nav {

        display: flex;
        width: 100%;
        max-height: 100%;


    }

    .logo-container {
        margin-left: 50px;
    }

    nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
        min-height: 100%;
        gap: 30px;
        box-shadow: none;

    }

    .btn-section {
        margin-top: 40px;


    }

    .btn,
    .btn-two {
        padding: 15px 18px;
        font-size: 14px;
    }

    .added-6 {
        display: block;
        gap: 50px;
        line-height: 30px;
    }

    .second-img-sec {
        width: 40%;

    }

    .second-img-sec img {
        width: 100%;
        margin-left: 40px;
        margin-top: 90px;

    }

    .second-desc-sec {
        width: 50%;
        align-items: end;
        padding-right: 0px;
        gap: 15px;
        margin-bottom: 0px;

    }
    .added-one{
        display:block;
    }

    .box-one,
    .box-two,
    .box-three,
    .box-four {
        width: 220px;
        height: 330px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    /* .box1,
    .box2,
    .box3,
    .box4 {
        width: 180px;
        height: 260px;
        border-radius: 10px;
    } */
    /* .photo-gallary{
        gap: 5 px;
    } */

    /* .doll {
        width: 250px;
        height: 290px;
        padding: 2px;
        border-radius: 7px;
        position: absolute;
        top: 230%;
        right: 30%;
    

    } */
    
.man {
    width: 80%;
    height: 500px;
    position: relative;
}

.man img {
    width: 80%;
}

.doll img {
    width: 50%;
}

.doll {
    width: 250px;
    height: 290px;
    padding: 2px;
    border-radius: 7px;
    position: absolute;
    right: 27px;
    top: 315px;

}

    .added-8 {
        margin-top: 30px;
        margin-right: 30px;
        line-height: 25px;
        text-align: center;
    } 

    
}


    @media screen and (max-width:576px) {
        .logo-container {
            justify-content: center;
            margin-right: 40px;
        }

        .right-nav {

            display: flex;
            flex-direction: column;
            width: 100%;
            max-height: 100%;
            gap: 30px;
            margin-left: 20px;


        }

        nav {
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: 100%;
            padding-top: 150px;
            margin-bottom: 200px;
            gap: 70px;
            box-shadow: none;

        }

        .goat-quote {
            text-align: center;
            font-size: 2rem;
        }

        .first-desc-text {

            width: 50%;
            height: 40%;
            /* text-align: center; */

        }

        .added-6 {
            display: block;
            gap: 50px;
            line-height: 30px;
        }

        .goat-title {
            width: 300px;
            margin: 0px;
            font-size: 65px;
            font-weight: 800;
            background-image: linear-gradient(#F948B2 0%, #8758F1 100%);
            --webkit-background-clip: text;
            color: transparent;
        }

        .first-sec-img {
            width: 50%;
        }

        .first-sec-img img {
            width: 82%;
            margin-left: 65px;
        }

        .btn {
            padding: 12px 18px;
            font-size: 14px;
            font-weight: 700;
        }

        .btn-two {
            padding: 12px 18px;
            border-radius: 30px;
            background-color: #4EC5F7;
            color: white;
            font-size: 14px;
            font-weight: 700;
            border: none;
        }

        .btn-section {
            display: flex;
            gap: 24px;
            padding-right: 40px;
            margin-top: 80px;

        }

        .first-section {
            flex-direction: column-reverse;
            height: 830px;
        }

        .first-description {
            width: 100%;
            display: flex;
            height: 100%;

        }

        .first-sec-img {
            width: 100%;
        }

        .second-section {
            flex-direction:column;
            background: none;
        }

        .second-img-sec {
            width: 100%;
        }

        .second-img-sec img {
            width: 100%;
            padding-left: 0px;
            margin: 0px;

        }

        .second-desc-sec {
            width: 100%;
            align-items: center;
            padding-right: 0px;
            gap: 15px;
            margin-bottom: 0px;

        }

        .added-4 {
            width: 60%;
            text-align: center;
            font-size: 14px;
            line-height: 20px;
        }

        .third-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        .third-sec-desc {
            /* width: auto;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
            margin-top: 200px;
            gap: 20px;
        }

        .online-game-title {
            font-size: 35px;
            margin: 0px;
            font-weight: 600;
        }

        .added-one {
            font-size: 35px;
        }
        .added-9{
            padding-bottom: 30px;
        }

        .photo-gallary {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 55px;
            /* display: grid;
            grid-template-columns: 1fr; */
        }

        .box-one,
        .box-two,
        .box-three,
        .box-four {
            width: 80%;
            height: 390px;
        }

        .box1,
        .box2,
        .box3,
        .box4 {
            width: 90%;
            height: 330px;
        }

        .box-one p,
        .box-two p,
        .box-three p,
        .box-four p {
            font-size: 14px;
        }

        .fourth-section {
            flex-direction: column;
        }

        .fourth-sec-desc {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;


        }

        .added-7 {
            margin-top: 20px;
            font-size: 14px;
            line-height: 20px;
        }

        .fourth-sec-img {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 100px;
            margin-left: 30px;

        }

        .man {
            width: 70%;
            height: 75%;

        }

        .doll {
            width: 250px;
            height: 290px;
            padding: 2px;
            border-radius: 7px;
            /* position:left; */
            /* right: 41%;
            bottom: 20%; */
            position: absolute;
            top: 648%;
            right: 47%;
        }

        .fifth-section {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        .g1,
        .g2,
        .g3,
        .g4,
        .g5,
        .g6,
        .g7,
        .g8,
        .g9 {
            height: 15px;
            padding: 12px;
            border-radius: 50px;
            background: #FFF;
            color: #0B0223;
            font-weight: 600;
            font-size: 12px;
            text-align: center;

        }

        .g1 img,
        .g2 img,
        .g3 img,
        .g4 img,
        .g5 img,
        .g6 img,
        .g7 img,
        .g8 img,
        .g9 img {
            width: 30px;
            height: 30px;
        }

        .footer-list1 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            font-size: 12px;
        }

        .footer-icons {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            font-size: 12px;
        }

        .footer-list2 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        .added-8 {
            margin-top: 50px;
            margin-right: 30px;
            text-align: center;
        }
        .added-10{
            margin-top: 15px;
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width:425px) {
        
        body{
            overflow-x: hidden;
        }
        .logo-container{
            margin-right: 50px;
        }
        .right-nav{
            width: 100%;
            margin-left: 20px;
        }
        .btn-section {
            display: flex;
            gap: 15px;
            padding-left: 40px;
            margin-top: 80px;

        }
        .online-game-title{
            font-size: 50px;
            width:90%;
        }
        .first-transparent {

            margin: 0px;
            font-size: 50px;
            font-weight: 700;
            background-image: linear-gradient(#F948B2 0%, #8758F1 100%);
            -webkit-background-clip: text;
            color: transparent;
        }
        .doll {
            width: 250px;
            height: 290px;
            padding: 2px;
            border-radius: 7px;
            /* position:left; */
            /* right: 41%;
            bottom: 20%; */
            position: absolute;
            top: 500%;
            left:8%;
        }
    }
    body{
        overflow-x:hidden;
    }