/* <style>
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400;500;600;700;800;900&display=swap');
</style> */

*{
    font-family: 'Work Sans', sans-serif;
}

.speacial-color{
    color:#FF42A5;
}
.first-transparent{
    
    margin: 0px;
    font-size: 75px;
    font-weight: 800;
    background-image: linear-gradient( #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color: transparent;
}
.common-desc{
    color: gray;
}

/* navigation bar start */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 100px;
    font-family: Work Sans;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.site-name{
    font-size: 45px;
    font-weight: 700;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    object-fit: cover;
    gap: 17px;
}
.logo-container img{
    width: 55px;
    height: 35px;
}
.right-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-nav li{
    list-style: none;
    margin-right: 30px;
}
.icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    width: 220px;
    height: 46px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.icon-container p,.right-nav li{
    font-size: 18px;
}

.fa-brands{
    font-size: 25px;
}

/* navigation bar end */

/* Header:1st section start */

.first-section{
    max-width:1920px;
    display: flex;
    height:600px;
    justify-content: center;
}
.first-description{
    width: 50%;
    background-image: url('images/Group 14.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.goat-quote{
    font-size: 38px;
    font-weight:600;
    margin: 0px; 
}
.first-desc-text{
    width:53%;
    height: 45%;
    
    
}
.goat-title{
    margin: 0px;
    font-size: 75px;
    font-weight: 800;
    background-image: linear-gradient( #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color: transparent;
}
.first-sec-img{
    width: 50%;
}
.first-sec-img img{
    width: 82%;
    margin-left: 65px;
}

.btn{
    padding: 20px 35px;
    border-radius: 30px;
    background-color: #F948B2;
    color: white;
    font-size: 18px;
    font-family: 600px;
    border: none;
}
.btn-two{
    padding: 20px 40px;
    border-radius: 30px;
    background-color: #4EC5F7;
    color: white;
    font-size: 18px;
    font-family: 600;
    border: none;
}

.btn-section{
    display: flex;
    gap:24px;
    padding-right: 60px;

}
/* Header:1st section end */

/* Second Section */
.online-game-title{
    font-size: 48px;
    margin: 0px;
}
.added-one{
    font-size: 48px;
}
.second-sec-desc{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-one, .box-two, .box-three, .box-four{
    width: 270px;
    height: 370px;
    border-radius: 10px;
}
.box1, .box2, .box3, .box4{
    width: 270px;
    height: 330px;
    border-radius: 10px;
}
.box1{
    background-image:url('images/Rectangle\ 4.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.box2{
    background-image:url('images/Rectangle\ 5.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.box3{
    background-image:url('images/Rectangle\ 7.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.box4{
    background-image:url('images/Rectangle\ 6.png');
    background-size: cover;
    background-repeat: no-repeat;
}
 .photo-gallary{

    display: flex;
    justify-content: center;
    gap: 20px;
 }

 /* Third Section */

.fourth-sec-text{
    font-size: 38px;
    font-weight: 700;
    margin: 0px;
}
.added-two{
    font-size:48px;
    font-weight: 600;
    margin: 0px;
}



.fourth-section{
max-height: 750px;
display: flex;

}
.fourth-sec-desc{
    width: 50%;

}
.fourth-sec-img{
    width: 50%;

}